# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
from pandas import DataFrame
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_info = "city_info2.csv"

city_info = pd.read_csv(city_info)
print(city_info.head())
#print(city_info.info)

   Unnamed: 0             City  Latitude  Longitude  Temperature  Humidity  \
0           0          Ushuaia    -54.80     -68.30        41.00        75
1           1   Novosheshminsk     55.07      51.23        31.60        85
2           2           Anloga      5.79       0.90        80.60        88
3           3  Arraial do Cabo    -22.97     -42.03        74.10        68
4           4        Okakarara    -20.58      17.43        57.99        34

   Cloudiness  Wind Speed Country
0          75       26.40      AR
1          60        7.87      RU
2          20        3.36      GH
3          14        6.60      BR
4           0        5.73     NaN

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)

In [14]:
location = city_info[["Latitude","Longitude"]]
humidity = city_info["Humidity"].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(location, weights=humidity, dissipating=False, max_intensity=10,
                                 point_radius=1)
fig.add_layer(heat_layer)
fig
#fig.save('heatmap.png')

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
city_info.describe()

,Unnamed: 0,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
count,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000,539.000000
mean,269.000000,21.232189,15.400909,59.007199,68.538033,55.821892,7.955844
std,155.740168,33.707555,91.168536,19.828166,22.162209,38.252072,5.668374
min,0.000000,-54.800000,-175.200000,-0.400000,7.000000,0.000000,0.250000
25%,134.500000,-7.040000,-67.940000,43.450000,57.000000,18.000000,3.465000
50%,269.000000,27.820000,20.230000,61.000000,74.000000,73.000000,6.730000
75%,403.500000,49.390000,95.725000,76.475000,86.500000,93.000000,10.635000
max,538.000000,78.220000,179.320000,95.000000,100.000000,100.000000,34.580000

In [6]:
# * Narrow down the DataFrame to find your ideal weather condition. For example:
#   * A max temperature lower than 80 degrees but higher than 70.
#   * Wind speed less than 10 mph.
#   * Zero cloudiness.
#   * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
#temp_df = city_info.loc[(city_info["Temperature"]<80)&(city_info["Temperature"]>70)]&[(city_info["Wind Speed"]<10)]&[(city_info["Cloudiness"]==0)]

temp_df = city_info.loc[(city_info["Temperature"]<80)&(city_info["Temperature"]>70)]
temp_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country
3,3,Arraial do Cabo,-22.97,-42.03,74.10,68,14,6.60,BR
8,8,Kaeo,-35.10,173.78,71.02,63,5,10.00,NZ
9,9,Rikitea,-23.12,-134.97,76.01,77,24,12.17,PF
13,13,São João da Barra,-21.64,-41.05,71.06,74,2,2.95,BR
15,15,Linden,6.00,-58.30,77.00,88,40,6.93,GY
...,...,...,...,...,...,...,...,...,...
518,518,Cap Malheureux,-19.98,57.61,75.00,87,14,8.99,MU
521,521,Puerto Peñasco,31.32,-113.53,75.99,78,0,1.99,MX
524,524,Kasongo-Lunda,-6.47,16.82,71.02,78,97,1.61,CD
525,525,Tomatlán,19.93,-105.25,70.95,71,67,5.48,MX
532,532,Garoowe,8.41,48.48,78.53,65,5,10.58,SO

In [19]:
# * Narrow down the DataFrame to find your ideal weather condition. For example:
#   * A max temperature lower than 80 degrees but higher than 70.
#   * Wind speed less than 10 mph.
#   * Zero cloudiness.
#   * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
wind_df = temp_df.loc[(temp_df["Wind Speed"]<10)]
wind_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country
3,3,Arraial do Cabo,-22.97,-42.03,74.10,68,14,6.60,BR
13,13,São João da Barra,-21.64,-41.05,71.06,74,2,2.95,BR
15,15,Linden,6.00,-58.30,77.00,88,40,6.93,GY
20,20,Puerto Ayora,-0.74,-90.35,79.00,85,94,7.00,EC
24,24,Presidencia Roque Sáenz Peña,-26.79,-60.44,70.59,51,0,7.38,AR
...,...,...,...,...,...,...,...,...,...
517,517,Manta,-0.95,-80.73,78.80,78,40,8.05,EC
518,518,Cap Malheureux,-19.98,57.61,75.00,87,14,8.99,MU
521,521,Puerto Peñasco,31.32,-113.53,75.99,78,0,1.99,MX
524,524,Kasongo-Lunda,-6.47,16.82,71.02,78,97,1.61,CD
525,525,Tomatlán,19.93,-105.25,70.95,71,67,5.48,MX

In [21]:
beast_weather_ever_df = wind_df.loc[(wind_df["Cloudiness"]==0)]
beast_weather_ever_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country
24,24,Presidencia Roque Sáenz Peña,-26.79,-60.44,70.59,51,0,7.38,AR
100,100,Mossamedes,-15.20,12.15,74.59,68,0,7.14,AO
126,126,Buraidah,26.33,43.98,71.60,53,0,2.24,SA
246,246,Qeshm,26.96,56.27,73.40,83,0,6.93,IR
311,311,Abu Dhabi,24.47,54.37,79.74,61,0,1.12,AE
333,333,Shihezi,44.30,86.03,76.95,15,0,6.67,CN
349,349,Mayor Pablo Lagerenza,-19.93,-60.77,75.56,38,0,7.67,PY
393,393,Khuzdar,27.74,66.64,74.17,19,0,3.58,PK
415,415,Kiama,-34.68,150.87,77.74,42,0,5.01,AU
436,436,Zaranj,30.97,61.88,79.20,34,0,1.19,AF
460,460,Aswān,24.09,32.91,74.37,18,0,8.10,EG
508,508,Benguela,-12.58,13.41,76.91,84,0,2.55,AO
521,521,Puerto Peñasco,31.32,-113.53,75.99,78,0,1.99,MX

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
#add column for hotel name 
hotel_df = beast_weather_ever_df.copy()
hotel_df['Hotel Name'] = ""
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
24,24,Presidencia Roque Sáenz Peña,-26.79,-60.44,70.59,51,0,7.38,AR,
100,100,Mossamedes,-15.20,12.15,74.59,68,0,7.14,AO,
126,126,Buraidah,26.33,43.98,71.60,53,0,2.24,SA,
246,246,Qeshm,26.96,56.27,73.40,83,0,6.93,IR,
311,311,Abu Dhabi,24.47,54.37,79.74,61,0,1.12,AE,
333,333,Shihezi,44.30,86.03,76.95,15,0,6.67,CN,
349,349,Mayor Pablo Lagerenza,-19.93,-60.77,75.56,38,0,7.67,PY,
393,393,Khuzdar,27.74,66.64,74.17,19,0,3.58,PK,
415,415,Kiama,-34.68,150.87,77.74,42,0,5.01,AU,
436,436,Zaranj,30.97,61.88,79.20,34,0,1.19,AF,
460,460,Aswān,24.09,32.91,74.37,18,0,8.10,EG,
508,508,Benguela,-12.58,13.41,76.91,84,0,2.55,AO,
521,521,Puerto Peñasco,31.32,-113.53,75.99,78,0,1.99,MX,

In [26]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 24 to 521
Data columns (total 10 columns):
Unnamed: 0     13 non-null int64
City           13 non-null object
Latitude       13 non-null float64
Longitude      13 non-null float64
Temperature    13 non-null float64
Humidity       13 non-null int64
Cloudiness     13 non-null int64
Wind Speed     13 non-null float64
Country        13 non-null object
Hotel Name     13 non-null object
dtypes: float64(4), int64(3), object(3)
memory usage: 1.1+ KB

In [11]:
# #Set parameters to search for hotels with 5000 meters.
# #Store the first Hotel result into the DataFrame.
# set up a parameters dictionary
params = {
    "radius" : 5000,
    "types" : "lodging",
    "keyword" : "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f'{lat},{lng}'
# #Hit the Google Places API for each city's coordinates.
# # base url    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# run a request using our params dictionary
    names = requests.get(base_url, params=params)
    hotel_name = names.json()
    #print(json.dumps(response, indent=4, sort_keys=True))
    try:
        hotel_df.loc[index, "Hotel Name"]= hotel_name["results"][0]['name']
    except (KeyError, IndexError):
        print("No Hotel Found!!!")
hotel_df

No Hotel Found!!!
No Hotel Found!!!

,Unnamed: 0,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed,Country,Hotel Name
24,24,Presidencia Roque Sáenz Peña,-26.79,-60.44,70.59,51,0,7.38,AR,Hotel Gualok
70,70,Carnarvon,-24.87,113.63,75.20,78,0,18.34,AU,Hospitality Carnarvon
100,100,Mossamedes,-15.20,12.15,74.59,68,0,7.14,AO,Hotel ibis Styles Iu Namibe
108,108,Vao,-22.67,167.48,75.18,66,0,13.49,NC,OURE TERA beach resort
126,126,Buraidah,26.33,43.98,71.60,53,0,2.24,SA,Mövenpick Hotel Qassim
131,131,Cockburn Town,21.46,-71.14,79.32,82,0,22.46,TC,Osprey Beach Hotel
246,246,Qeshm,26.96,56.27,73.40,83,0,6.93,IR,Irman BOUTIQUE HOTEL
311,311,Abu Dhabi,24.47,54.37,79.74,61,0,1.12,AE,Sheraton Abu Dhabi Hotel & Resort
333,333,Shihezi,44.30,86.03,76.95,15,0,6.67,CN,Hanting Hotel
349,349,Mayor Pablo Lagerenza,-19.93,-60.77,75.56,38,0,7.67,PY,
393,393,Khuzdar,27.74,66.64,74.17,19,0,3.58,PK,
415,415,Kiama,-34.68,150.87,77.74,42,0,5.01,AU,The Grand Hotel
436,436,Zaranj,30.97,61.88,79.20,34,0,1.19,AF,Tamadon Hotel
460,460,Aswān,24.09,32.91,74.37,18,0,8.10,EG,Sofitel Legend Old Cataract Aswan
494,494,Ulladulla,-35.35,150.47,74.07,33,0,12.75,AU,Bannisters Pavilion
508,508,Benguela,-12.58,13.41,76.91,84,0,2.55,AO,Aparthotel Mil Cidades
521,521,Puerto Peñasco,31.32,-113.53,75.99,78,0,1.99,MX,Best Western Laos Mar Hotel and Suites

In [12]:
#print the response url, avoid doing for public github repos in order to avoid exposing key

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
location_hotel = hotel_df[["Latitude","Longitude"]]

In [29]:
# #Plot markers on top of the heatmap.

marker_layer = gmaps.marker_layer(location_hotel, info_box_content = hotel_info)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Add marker layer ontop of heat map


# Display figure